body {
  background-color: #f5f5f5;
}

.hero {
  box-shadow: 0 .25rem .2rem 0 rgba(0,0,0,0.15);
}

.hero .button:first-of-type {
  margin-left: -9px;
}

.box {
  height: 100%;
  padding-bottom: 0;
  display: flex;
  flex-direction: column;
}

.box .title {
  margin-bottom: 0.5rem;
}

.box p {
  margin-bottom: 0.5rem;
}

.box img {
  border-radius: 0 0 6px 6px;
  width: calc(100% + 2.5rem);
  max-width: calc(100% + 2.5rem);
  margin-left: -1.25rem;
  margin-top: auto;
}